<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết món ăn</title>
</head>
<body>

<h2>Chi tiết món ăn</h2>

<p style="color:green" th:text="${success}"></p>

<div th:if="${food != null}">
    <p><b>ID:</b> <span th:text="${food.id}"></span></p>
    <p><b>Tên:</b> <span th:text="${food.name}"></span></p>
    <p><b>Danh mục:</b> <span th:text="${food.category}"></span></p>
    <p><b>Giá:</b> <span th:text="${food.price}"></span></p>
    <p><b>Tên file:</b> <span th:text="${food.image}"></span></p>
    <img th:src="@{'/images/' + ${food.image}}" width="200"/>

</div>

<a href="/bai4/add">Quay lại</a>

</body>
</html>
